/**
* Css Style
* @author Hakan Hürriyet
*/

@import "stylus_helper/_gridCreator" 

*
	box-sizing border-box ; *behavior: url(/htc/boxsizing.htc) // for old old browsers
	margin 0
	padding 0

/*#######################################
# General Options
########################################*/	
.clear-all
	&:after
	&:before
		content ""
		display table
	zoom 1 // for old browsers
	&:after
		clear both	


/*#######################################
# Typograph
########################################*/	




/*#######################################
# Navigations
########################################*/	




/*#######################################
# Buttons
########################################*/



/*#######################################
# Forms
########################################*/	
	
